{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol in history %}
            <tr>
                <td class="text-start">{{ symbol.symbol }}</td>
                <td class="text-end"> {{ symbol.shares }}</td>
                <td class="text-end">{{ symbol.price | usd }}</td>
                <td class="text-end">{{ symbol.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}